/* Text styling */

body {
  margin: 0;
  font-family: Arial;
  color: #c7c4c1;
}

h1 {
  color: lightsalmon;
  font-size: 35px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: 800;
}

h4 {
  font-size: 18px;
  font-style: italic;
}

a {
  color: #f4f4f4;
  font-size: 18px;
}

ol {
  line-height: 2em;
}

p {
  font-size: 18px;
}

/* Class Layout */

.global-styles {
  background-color: #0E0B16;
  padding: 30px 0;
  text-align: left;
}

.columns {
  display: flex;
}

.column {
  background-color: #262225;
  margin: 30px;
  padding: 20px;
  border: 8px solid lightsalmon;
  border-style: outset;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image_container {
  margin: 0px auto;
}

.side-by-side-images {
  display: flex;
}

.selected {
  color: #B99095;
}

/* ID Layout */

#images {
  text-align: center;
  margin: 25px auto;
  line-height: 40px;
}
